<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="ExpensesEntities" connectionString="metadata=res://*/Sqlite.csdl|res://*/Sqlite.ssdl|res://*/Sqlite.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=../../../CarsFactory.Sqlite/Expenses.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>